<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SpeechDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpeechServiceExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>qe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3683EDD81F0DF14900460784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3683EDF61F0DF17500460784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3683EE0B1F0DF3BE00460784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3683EE231F0DF51600460784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
